In [2]:
import pandas as pd

In [5]:
item_data_1 = pd.read_excel("../docs/bangalore_pickups.xlsx").drop(columns=["Unnamed: 0"])
item_data_2 = pd.read_excel("../docs/bangalore_dispatch_address_finals.xlsx")

In [6]:
item_data_1.head()

,address,location,numbers,names,product_id
0,"1260, SY 35/4, SJR Tower's, 7th Phase, 24th Ma...",JP Nagar,38815310522,Deanna Wendt,SKU_46
1,"1260, SY 35/4, SJR Tower's, 7th Phase, 24th Ma...",JP Nagar,40834506264,Leah West,SKU_8
2,"1260, SY 35/4, SJR Towers, 24th Main Puttanhal...",JP Nagar,85574853958,Lisa Pitts,SKU_54
3,"1260 SY 35/4 SJR Tower's, 24th Main Puttanhall...",JP Nagar,75730852176,Jonathan Nelson,SKU_103
4,"915, 24th Main Road, 2nd Phase, Mayura Circle,...",JP Nagar,65256560203,David Finn,SKU_148

In [7]:
item_data_2.head()

,address,location,AWB,names,product_id
0,"6, Shakambari Nagar, 1st stage, JP Nagar, Bang...",JP Nagar,62201852038,Vickie Ramos,SKU_144
1,"1, 24th Main Rd, 1st Phase, Girinagar, KR Layo...",JP Nagar,73350066683,Jon Hall,SKU_31
2,"954, 2nd Floor, 24th Main, 2nd Phase, Opposite...",JP Nagar,60104333056,Linda Kurland,SKU_113
3,"1, 24th Main Rd, 1st Phase, Girinagar, KR Layo...",JP Nagar,49726345575,Cora Massart,SKU_23
4,"67, 15th Cross, 6th B Main, JP Nagar, Bangalore",JP Nagar,33178947349,George Rivas,SKU_144

In [8]:
import requests
from multiprocessing import Pool

def address_to_lat_long(address):
    api_key = "NIEPeSHG2spTNTvrk8k718oegUxgCWnG"
    url = f"http://www.mapquestapi.com/geocoding/v1/address?key={api_key}&location={address}"
    response = requests.get(url)
    item_data = response.json()
    return item_data["results"][0]["locations"][0]["latLng"]


address_list = item_data_1["address"].tolist()

address_to_lat_long(address_list[0])

{'lat': 12.88931, 'lng': 77.58437}

In [10]:
addresses = item_data_1["address"].tolist() + item_data_2["address"].tolist()
len(addresses)

242

In [11]:
with open("addresses.txt", "w") as f:
    for address in addresses:
        f.write(address + "\n")

In [13]:
import json
from random import uniform
lat_longs = []

for i in range(len(addresses)):
    lat_longs.append({
        "lat": uniform(12, 13),
        "lng": uniform(77, 78)
    })
    
with open("lat_longs.json", "w") as f:
    json.dump(lat_longs, f, indent=4)